body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f6eee3;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    0deg,
    #e5decf,
    #e5decf 1px,
    #f6eee3 1px,
    #f6eee3
  );
  padding: 1rem;
  align-items: center;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  /* justify-content:center */
}
a{
    text-decoration: none;
    color:black;
}
.container {
  /* display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center; */
  background: #fffdf7;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.08),
    2px 4px 10px rgba(0, 0, 0, 0.12);
  background-color: white;
  padding: 1rem;
  width: 650px;
  height: 550pxّ;
}
.container2{
     display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.box1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.box2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
 background: #fffdf7;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.08),
    2px 4px 10px rgba(0, 0, 0, 0.12);
padding: 0.5rem;
transition: filter 0.3s ease;
}
.card img {
  width: 150px;
  height: 150px;
  border-radius: 12px;
}
/* .card img {
  width: 100%;
  height: auto;
}

.card:nth-child(1) {
  width: 180px;
}

.card:nth-child(2) {
  width: 130px;
}

.card:nth-child(3) {
  width: 200px;
} */

/* .box1:hover .card:not(:hover),
.box2:hover .card:not(:hover) {
  filter: blur(4px);
} */

.container2:hover .card:not(:hover) {
  filter: blur(4px);
}